*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: chartreuse;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    align-items: center;
}
nav h1{
    font-size: 32px;
    color: black;
    color: white;
    font-weight: bold;
}
nav ul{
    display: flex;
    list-style: none;
}
nav li{
    padding: 5px 15px;
    font-size: 18px;
    color: black;
    font-weight: 600;
}
nav ul h2{
    background-color: white;
    border-radius: 100px;
}